
body {  
    background-image: url('../image/Login.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.khung {
    background-color: cadetblue;
    color: #07484d;
    width: 100%;
    max-width: 450px; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-top: 0;
}

/* Định dạng cho mỗi nhóm nhập liệu */
.cot {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px; 
}

/* chữ tiêu đề nhỏ*/
label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

/*ô nhập liệu */
input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
}

/* nhóm 2 nút bấm ở cuối */
.buttons {
    display: flex;
    gap: 25px; 
    margin-top: 25px;
}

/* định dạng chung cho 2 nút */
button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    
}

.back {
    background-color: orange;
    color : white;
    border: none;
}


.submit {
    background-color: orange; 
    color: white;
    border: none;
}

button:hover{
    opacity: 0.9;
}

